.product {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.smalltab {
    width: 40vh;
    height: 40vh;
}

.smalltab img {
    width: 80%;
}

.main-tab {
    display: flex;
    justify-content: center;
    border: none;
}

.tabi {
    border: none;
    list-style: none;
}