.product {
    width: 80%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.tab1 {
    display: grid;
    grid-template-columns: repeat(4, 100%);
    margin-top: 5vh;
    justify-content: center;
    
}

.main-tab {
    display: flex;
    border: none;
}

.tabi {
    border: none;
    list-style: none;
}

.popopo {
    border: none;
    list-style: none;
    margin: 2vh;
}

.popopo:hover {
    border-bottom: 1px solid #000;
}


.btnhover {
    background-color: black;
    color: white;
    position: absolute;
    border-radius: 5vh;
    bottom: 2%;
    left: 30%;
    border: 1px solid black;
    padding:  1vh;
    cursor: pointer ;
}

.hearthover {
    color: white ;
    position : absolute ;
    top: 0;
    right: 5% ;
    cursor: pointer;
}



@media screen and (max-width: 740px) {
    .tab1 {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .product {
        height: fit-content;
    }
}

@media screen and (max-width: 768px) {
    .tab1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 3vh;
    }

    .product {
        margin-bottom: 15vh;
        height: 75vh;
    }

    .main-tab {
        display: flex;
        border: none;
        justify-content: center;
    }
}
@media screen and (max-width: 368px) {
    .tab1 {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: center;
        gap: 3vh;
    }

    .product {
        margin-bottom: 15vh;
        height: 150vh;
    }

    .main-tab {
        display: flex;
        border: none;
        justify-content: center;
    }
}

