.product {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.tab1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 5vh;
   
}

.smalltab {
    width: 35vh;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smalltab p {
    display: flex;
    align-self: flex-start;
    line-height: 3vh;
    margin-left: 4vh;
    margin-top: 1vh;
}

.smalltab img {
    width: 80%;
}

.main-tab {
    display: flex;
    justify-content: center;
    border: none;
}

.tabi {
    border: none;
    list-style: none;
}

.popopo {
    border: none;
    list-style: none;
    margin: 2vh;
}

.popopo:hover {
    border-bottom: 1px solid #000;
}

@media screen and (max-width: 740px) {
    .tab1 {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
        
    }

    .tab1 .smalltab {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .smalltab {
        margin: 5vh;
    }
}