.col-2{
    width: 100%;
}

.product-gallery-container{
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-end;
    margin: 0 auto;
    width: 90%;
}

.product-gallery{
    margin-right: auto;
    display: grid;
    gap: 3% 5%;
    grid-template-columns: 1fr 1fr 1fr;  
    margin-top: 5vh;
    margin-bottom: 15vh;
}

.image-product{
    width: 100%;
}

.number-products{
    margin-top: 5vh;
    text-align: end;
}

.sale-red-pill{
    background-color: red;
    width: 20%;
    color:white; 
    text-align: center;
    border-radius:25vh;
    margin-inline: 3vh;
    display: block;
}

.new-green-pill{
    background-color: rgb(55, 116, 55);
    width: 20%;
    color:white; 
    text-align: center;
    border-radius:25vh;
    margin-inline: 3vh;
    display: block;
}

.onsale-price-line-through{
    text-decoration: line-through;
    color: red;
}

.product-prices-flex-container{
    display: flex; 
}

.product-prices-flex-container>p{
    margin-left: 1vh;
}