.favorites-table{
    margin: auto;
    width: 60%;
    border: 1px solid black;
 }

.favorites-table img{
    width: 30%;
}

.favorites-table td{
    width: 15%;
}

.favorites-table{
    text-align: center;
}

.favorites-table>tr{
    border: 1px solid black;
}

.table-big-btn{
    width: 60%;
    margin: auto;
}

.favorites-table input {
    width: 5vh;
    text-align: center;
    height: 5vh;
}
.favorites-table button {
    width: 5vh;
    height: 5vh;
    cursor: pointer;
}