.form-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 5vh 5vh 5vh;
    width: 30vw;
    height: 70vh;
}

.form-contact>button {
    display: block;
    background-color: black;
    border: none;
    color: white;
    border-radius: 5vh;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 15vh;
}

.form-contact>input {
    height: 20px;
    padding: 12px 20px;
}

.form-contact>textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    resize: none;
}

.container-contact {
    width: 70vw;
    margin: auto;
}

@media screen and (max-width: 740px) {
    .form-contact {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 368px) {
    .form-contact {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .container-contact {
        width: 100%;
        margin: auto;
        display: grid;
        justify-content: center;

    }
}

@media screen and (max-width: 768px) {
    .form-contact {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .container-contact {
        width: 100%;
        margin: auto;
        display: grid;
        justify-content: center;

    }
}

