.maps{
    width:35vw;
    height:70vh;
}

@media screen and (max-width: 740px) {
    .maps{
        width: 100% !important;
    }
}

@media screen and (max-width: 368px) {
    .maps {
        width: 100%  !important;
    }
}