.comingsoon {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vh;
    margin: auto;
    margin-bottom: 10vh;
}

.coming1 {
    background-image: url('../../assets/coming1.png');
    background-size: cover;
    background-position: center;
}

.coming {
    width: 40vh;
    height: 40vh;
}

.coming button {
    position: relative;
    top: 80%;
    left: 25%;
    width: 20vh;
    height: 5vh;
    border: none;
    background-color: #fff;
}

.coming2 {
    background-image: url('../../assets/coming2.png');
    background-size: cover;
    background-position: center;
}
.coming3 {
    background-image: url('../../assets/coming3.png');
    background-size: cover;
    background-position: center;
}

.coming-img {
    width: 40vh;
    height: 40vh;  
}

.coming-img img {
    width: 100%;
}


@media screen and (max-width: 740px) {
    .comingsoon {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin: auto;
        width: 100%;  
        height: fit-content;      
    }
}

@media screen and (max-width: 368px) {
    .coming {
        width: 30vh;
        height: 30vh;
    }

    .coming button {
        position: relative;
        top: 80%;
        left: 17%;
        width: 20vh;
        height: 5vh;
        border: none;
        background-color: #fff;
    }
}


@media screen and (max-width: 768px)  {
    .coming button {
        position: relative;
        top: 80%;
        width: 20vh;
        height: 5vh;
        border: none;
        background-color: #fff;
    }
}